name: CI/CD Pipeline

# main이나 feat브랜치에 push가 되었을 때 실행
on:
  push:
    branches:
      - "main"
      - "feat/*"
  pull_request:
    branches:
      - "main"
      - "feat/*"

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:

      # JDK setting - github actions에서 사용할 JDK 설정 (프로젝트나 AWS의 java 버전과 달라도 무방)
      - uses: actions/checkout@v4
      - name: Set up JDK 17 and Eclipse Temurin
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # gradlew에 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: | 
          chmod +x gradlew
          ls -l gradlew

      # 빌드
      - name: Test and Build
        working-directory: ./
        env:
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          DB_URL: ${{ secrets.DB_URL }}          
          DB_USERNAME: ${{ secrets.DB_USERNAME }} 
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }} 
          HOST_PROD: ${{ secrets.HOST_PROD }}
        run: |
          ./gradlew test
          ./gradlew build -x test

      # Docker 로그인
      - name: Docker login
        if: contains(github.ref, 'main')
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      # Docker 이미지 빌드 및 푸시
      - name: Docker build & push
        if: contains(github.ref, 'main')
        working-directory: ./
        run: |
          docker build -f ./Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/synclog . --no-cache
          docker push ${{ secrets.DOCKER_USERNAME }}/synclog  

  CD:
    runs-on: ubuntu-latest
    needs: CI
    if: contains(github.ref, 'main')
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to prod
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_PROD }} # EC2 퍼블릭 IPv4 DNS
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }}
          envs: GITHUB_SHA
          script: |
            sudo docker stop $(sudo docker ps -q)
            sudo docker rm $(sudo docker ps -aq)
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/synclog
            
            sudo docker run -d --name synclog -p 8080:8080 \
              -e JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }} \
              -e DB_URL='${{ secrets.DB_URL }}' \
              -e DB_USERNAME='${{ secrets.DB_USERNAME }}' \
              -e DB_PASSWORD='${{ secrets.DB_PASSWORD }}' \
              ${{ secrets.DOCKER_USERNAME }}/synclog
            sudo docker system prune -a -f --volumes
